.grid {
  margin: 0 auto;
  max-width: 1290px;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  /*margin-bottom: 24px;*/
}

.col {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.col-1 {
  width: 8.333333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-10{
  width: 83.33333333%;
}

.offset-col-1 {
  margin-left: 8.333333333%;
}

@media only screen and (max-width: 500px) {
  .col-md-1 {
    width: 8.333333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-10{
    width: 83.33333333%;
  }

  .offset-col-md-1 {
    margin-left: 8.333333333%;
  }
  .offset-col-md-2 {
    margin-left: 16.66666667%;
  }

  hr {
    max-width: 22rem;
  }

  .video_duration {
    bottom: 9px;
    left: 363px;
  }

}

/*
Global stílar
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  color: #222222;
  background-color: #dddddd;
}

h1 {
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;
  padding-top: 15px;
  font-size: 41px;
}

h2 {
  hyphens: manual;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.video_title {
  font-weight: bold;
  width: 26rem;
  line-height: 1.5rem;
  margin-top: 10px;
}

hr {
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

footer{
  text-align: center;
  margin-bottom: 2rem;
}

.line {
  background-color: #222222;
  text-align: center;
  height: 1px;
  margin: 2rem 0;
}

.playBtn {
  top: 25%;
  position: absolute;
  width: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.playtBtn-hidden {
  display: none;
}

footer a {
  color: black;
  text-decoration: none;
}

.video_image_pc {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

#videoToPlay{
  width: inherit;
}

.video_image img {
  width: 100%;
  height: auto;
}
.video_image video{
  width: 100%;
}
.video_button img{
  width: 50px;
  margin: 0em 0.5em;
}
.video_controler{
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.video_duration {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #dddddd;
  width: 46px;
  padding: 2px;
  margin-left: 367px;
  margin-top: -2rem;
}


