/*.grid {
    margin: 0 auto;
    max-width: 1290px;
    overflow: hidden;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 24px;
  }
  
  .col {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .col-1 {
    width: 8.333333333%;
  }
  
  .col-2 {
    width: 16.66666667%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33333%;
  }
  
  .col-10{
    width: 83.33333333%;
  }
  
  .offset-col-1 {
    margin-left: 8.333333333%;
  } */