/*@media only screen and (max-width: 500px) {
    .col-md-1 {
      width: 8.333333333%;
    }
  
    .col-md-2 {
      width: 16.66666667%;
    }
  
    .col-md-3 {
      width: 25%;
    }
  
    .col-md-4 {
      width: 33.33333%;
    }
  
    .col-md-10{
      width: 83.33333333%;
    }
  
    .offset-col-md-1 {
      margin-left: 8.333333333%;
    }
    .offset-col-md-2 {
      margin-left: 16.66666667%;
    }
  
    hr {
      max-width: 22rem;
    }
  
    .video_duration {
      bottom: 9px;
      left: 363px;
    }
  
  }*/
  